.comment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px; /* Adjust the space between the boxes */
    padding: 20px;
  }
  .comment-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 columns */
    gap: 20px; /* Adjust the space between the boxes */
    padding: 20px;
  }
  .comment-box {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .comment-top {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
  }
  
  .profile-name {
    font-weight: bold;
  }
  
  .comment-time {
    font-size: 0.85rem;
    color: gray;
  }
  
  .comment-bottom {
    margin-top: 10px;
  }
  
  .comment-text {
    font-size: 1rem;
    color: #333;
    word-wrap: break-word;
    white-space: normal;
  }
  




   @media (max-width: 768px) {
    #top {
        margin-bottom: 10% !important;
        background-color: black !important;
    }
    .showMoreBtn{
        margin-bottom: 20vh;
    }
}
